# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/.pnp
.pnp.js

# production
/build

# misc
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/keys.ts